body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

#revealCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
